<div id="content">

			 <div class="title">
			  <h2>{{ page.title }}</h2>
			</div> 
			<div class="bar_head">
			<div class="con_date">
			  <span class="day">{{ page.date | date:"%d" }}</span>
			  <span class="month">{{ page.date | date:"%b" }}</span>
			  <span class="year">{{ page.date | date:"%Y" }}</span>
			 </div>

			<div class="tags">
				TAGS:{{ page.tags }}
			</div>
		</div>
			 <div class="con_con">

			 	<div class="text">
			 		{{ content }}
			 	</div>
			 	</div>
			 <div class="bar">
			 <div class="pre">
			 	{% if page.previous %}
			 	<strong>
			 		<a href="{{ page.previous.url }}" 
			 		title="{{ page.previous.title }}">
			 		上一篇</a>
			 	</strong>
			 	{% else %}
			 	<strong>没有了哦</strong>
			 	{% endif %}
			 </div>

			 <div class="back">
			 	<a href="{{ site.url }}/index.html">回到主页</a>
			 </div>

			 <div class="next">
			 	{% if page.next %}
			 	<strong>
			 		 <a href="{{ page.next.url }}" 
			 		title="{{ page.next.title }}">下一篇</a>
			 	</strong>
			 	{% else %}
			 	<strong> 
			 		没有了哦 
			 	</strong>
			 	{% endif %}
			 </div>
			 </div>
</div>
