
	<div id="wrapper">
	<a name="top">
	<div id="header">

	<div id="headtitle"><h2><a href="{{ site.url }}">DreamLand</a></h2></div>
	<div id="slogan">
	<p>--------Stay Hungry,Stay Foolish.</p>
	</div>
	</div>

	<div id="headbar">
	<ul>
		<li>
			<a href="{{ site.url }}/blog.html">The Latests</a>
		</li>
		<li>
			<a href="{{ site.url }}/index.html">All Blogs</a>
		</li>
		<li>
			<a href="{{ site.url }}/category.html">Categories</a>
		</li>
		<li>
			<a href="{{ site.url }}/about.html">About Me</a>
		</li>
		
	</ul>
	</div>