	<div id="wrapper">
	
	<div id="header">

	<h2><a href="{{ site.url }}/index.html">DreamLand</a></h2>
	<p>--------Stay Hungry,Stay Foolish.</p>
	</div>
	<div id="headbar">
	<ul>
		<li>
			<a href="http://chendell.github.io/index.html">HomePage</a>
		</li>
		<li>
			<a href="http://chendell.github.io/blog.html">Blogs</a>
		</li>
		<li>
			<a href="http://chendell.github.io/category.html">Categories</a>
		</li>
		<li>
			<a href="http://chendell.github.io/about.html">About Me</a>
		</li>
		
	</ul>
	</div>