/*总的配置*/
#wrapper {
	width: 1440px;

}

#header {
	float: left;
	width: 100%;
	height: 110px;
	background-color: #F3F3F3;
}

#header img{
	position: relative;
	top: 0px;
}

#header a{
	text-decoration: none;
	color: black;
}


#header p {
	margin: 0px;
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
	font-family: helvetica,Arial;
	position: relative;
	left: 500px;
	top: -40px;
}

#headbar {
	margin-top: 5px;
	width: 100%;
	height: 50px;
	float: left;
}

#headbar ul{
	float: left;
	padding: 0px;
	margin-top: 0px;
	width: 100%;
	list-style-type:none; 

}

#headbar a{
	padding-top: 0.8em;
	padding-bottom: 0.8em; 
	float:left;
	width: 24.9%;
	text-decoration:none;
	font-family: Monaco,Arial;
	color:white;
	background-color:#1E90FF;
	text-align: center;
	border-right:1px solid white;
	margin: 0px;
}

#headbar a:hover{
	background-color:#ff3300
} 

#headbar li{
	width: 25%;
	margin: 0px;
	display:inline;
}

#content {
	float: left;
	margin-top: 3px;
	width: 100%;
	height: 700px;
	background-color: #F3F3F3;
}

#about_title {

	float: left;

}

#footer {
	float: left;
	margin-top: 5px;
	height: 60px;
	width: 100%;
	background-color: #F3F3F3;
}

#footer p { 
	text-align: center;
	font-family: Monaco,Arial;
	font-size: 20px;


}

/*给不同的页面的css*/

/*about.html*/
#about1 {
	margin-top: 0px;
	color: black;
	float: left;
	width: 48%;	
} 	

#about1 h2 {
	position: relative;
	left: 70px;
	top: 10px;
	font-weight: bold;
	font-family: Monaco,Arial;
	font-size: 55px;
}

#about1 ul {
	list-style-position: inside;
	list-style-type: square;  
	position: relative;
	left: 5px;
	top:-20px;

}

#about1 li {	

	padding: 0.7em;
	font-family: Monaco,Arial;
	font-size: 20px;
	font-weight: bold;
}

#about2 { 
	margin-top: 0px;
	border-left: #708090 solid 0.2em; 
	float: left;
	width: 49%;
	height: 100%;
}

#about2 p{
	position: relative;
	left: 100px;
	top: 150px;
	font-family: Monaco,Arial;
	font-size: 25px;
	text-align: justify;
	line-height: 50px;
	word-spacing: 0.1em;
	font-weight: bold;
}

#about2 blockquote {
	position: relative;
	left: 70px;
	top: 160px;
	font-size: 25px;
	text-align: justify;
	font-family: Monaco,Arial;
	font-weight: bold;
}