<!DOCTYPE html>
<html>
<head>
	<meta name="keywords" content="blog,chendell" >
	<meta name="author" content="Achen" >
	<meta http-equiv="content-type" content="text/html; charset=utf-8" >
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/static/css/style.css" >
	<title>{{ page.title }}</title>
</head>
<body>
	Hello!
	<div id="wrapper">
	</div>
	<div id="header">
	</div>
	<div id="content">
	</div>
	<div id="siderbar">
		
	</div>
	<div id="footer">
		
	</div>
	{{ content }}
</body>

</html>