<!DOCTYPE html>
<html>
<head>
	<meta name="keywords" content="Blog Motion Tech">
	<meta name="author" content="Achen">
	<link rel="stylesheet" style="text/css" href="./static/base.css">
	<title>DreamLand</title>
</head>
<body>

	<div id="wrapper">
	
	<div id="header">

	<h2>DreamLand</h2>
	<p>--------Stay Hungry,Stay Foolish.</p>
	</div>
	<div id="headbar">
	<ul>
		<li>
			<a href="#">Blog</a>
		</li>
		<li>
			<a href="#">About me</a>
		</li>
		<li>
			<a href="#">Links</a>
		</li>
		<li>
			<a href="#">Links</a>
		</li>
	</ul>
	</div>
	
	<div id="content">

	{{ content }}

	</div>
	
	<div id="footer">
	
	</div>

	</div>

</body>
</html>
